<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
        <link ref="stylesheet" type="text/css" href="dist/snackbar.min.css" /> 
        <script src="dist/snackbar.min.js"></script>
</head>
<body>
    <header>
    <img src="/logo.png" alt="logotype" width="150">
    </header>
    <div id="login-form">
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
        <a href="/">Login</a>
    </form>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
